@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  --color-heading-1: #626262;
  --color-paragraph-1: #919191;
  --color-grey-1: #b4ad9e;
  --color-black-1: #333333;


  --font-playfair: 'Playfair Display', sans-serif;
  --font-ubuntu: 'Ubuntu', sans-serif;
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;

}
h1,h2,h3,h4,h5,h6,a,p{
  font-family: var(--font-playfair);
}
/*===================================================*/
/*header section starts here*/
/*===================================================*/
.navbar{
  margin: 6rem 0;
}
.nav-item{

}
.nav-link{
  text-transform: uppercase !important;
  color: var(--color-heading-1) !important;
  font-size: 1.5rem !important;
  margin-right: 6rem !important;
}
/*===================================================*/
/*header section ends here*/
/*===================================================*/


/*===================================================*/
/*section hero starts here*/
/*===================================================*/
.container-post{
  width: 90%;
  margin: auto;
}
.hero-post{
  padding: 4rem 0;
  margin-bottom: 8rem;
}
.heading-primary{
  margin-bottom: 3rem;
  font-size: 3rem;
  color: var(--color-heading-1);
}
.post-category{
  font-size: 1.5rem;
  text-transform: uppercase;
  color: var(--color-grey-1);
  margin-bottom: 3rem;
}
.post-desc{
  margin-bottom: 4rem;
  font-size: 1.5rem;
  color: var(--color-paragraph-1);
  padding-right: 6rem;
}
.post-comment{
  font-size: 1.5rem;
  text-decoration: none !important;
  text-transform: uppercase;
  color: var(--color-grey-1);
}
/*===================================================*/
/*section hero ends here*/
/*===================================================*/