@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
    --color-heading-1: #626262;
    --color-paragraph-1: #919191;
    --color-grey-1: #b4ad9e;
    --color-grey-2: #f0f0f0;
    --color-black: #000;
    --color-black-1: #333333;


    --font-playfair: 'Playfair Display', sans-serif;
    --font-ubuntu: 'Ubuntu', sans-serif;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;

}

h1, h2, h3, h4, h5, h6, a, p {
    font-family: var(--font-playfair);
}

/*===================================================*/
/*header section starts here*/
/*===================================================*/
.navbar {
    margin: 6rem 0;
}

.nav-item {

}

.nav-link {
    text-transform: uppercase !important;
    color: var(--color-heading-1) !important;
    font-size: 1.5rem !important;
    margin-right: 6rem !important;
}

/*===================================================*/
/*header section ends here*/
/*===================================================*/


/*===================================================*/
/*section hero starts here*/
/*===================================================*/
.container-post {
    width: 90%;
    margin: auto;
}

.hero-post {
    padding: 4rem 0;
    margin-bottom: 8rem;
}

.heading-primary {
    margin-bottom: 3rem;
    font-size: 3rem;
    color: var(--color-heading-1);
}

.post-category {
    font-size: 1.5rem;
    text-transform: uppercase;
    color: var(--color-grey-1);
    margin-bottom: 3rem;
}

.post-desc {
    margin-bottom: 4rem;
    font-size: 1.4rem;
    color: var(--color-heading-1);
    padding-right: 6rem;
}

.post-comment {
    font-size: 1.5rem;
    text-decoration: none !important;
    text-transform: uppercase;
    color: var(--color-grey-1);
}

/*===================================================*/
/*section hero ends here*/
/*===================================================*/
/*===================================================*/
/*section small post starts here*/
/*===================================================*/
.section-small-post{
    padding: 4rem 0;
}
.img-fluid{
    margin-bottom: 3rem;
}
.row-mod{
    margin-top: 10rem;
}
/*===================================================*/
/*section small post ends here*/
/*===================================================*/

/*===================================================*/
/*section newsletter starts here*/
/*===================================================*/
.section-newsletter{
    padding: 10rem 0;
    background-color: var(--color-grey-2);
}
.heading-newsletter{
    color: var(--color-black-1);
    text-align: center;
}
.form{
    text-align: center;
    margin-top: 9rem;

}
.form-input{
    width: 32%;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 1rem 1.5rem;
    border-bottom: 1px solid var(--color-black-1);
    font-size: 1.5rem;
    background-color: var(--color-grey-2);
    padding-left: 0;
}
.form-input::placeholder{
    color: var(--color-heading-1);
}
.form-input:focus{
    outline: none;
}
.input-icon{
    margin-bottom: 0;
    margin-left: -3rem;
    cursor: pointer;
}
.small-post-btn{
    text-align: center;
    margin: 12rem 0;
}
.btn-learnmore{
    font-size: 1.9rem;
    border-radius: 0;
    padding: 1.5rem 3.5rem;
    text-transform: capitalize;
}
/*===================================================*/
/*section newsletter ends here*/
/*===================================================*/



/*===================================================*/
/*footer section starts here*/
/*===================================================*/
.footer-area{
    padding: 2rem 0;
    background-color: var(--color-grey-2);
}

.terms{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 3rem;
    font-size: 1.4rem;
}
.social{
    justify-content: flex-end;
}
.terms-list{
    margin-left: 2rem;
}
.terms-link{
    text-decoration: none !important;
    color: var(--color-black);
}
.terms-link i {
    color: var(--color-heading-1);
}

/*===================================================*/
/*footer section ends here*/
/*===================================================*/



/*responsive css codes*/

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {



}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {



}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {



}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

    html {
        font-size: 9px;
    }

    .heading-primary {
        font-size: 2.7rem;
    }

    .form-input {
        width: 62%;
    }

    .small-post-btn {
        margin: 5rem 0;
    }

    .terms {
        justify-content: center;
    }

    .social {
        justify-content: center;
    }

}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    html {
        font-size: 8px;
    }

    .heading-primary {
        font-size: 2.7rem;
    }

    .form-input {
        width: 62%;
    }

    .small-post-btn {
        margin: 5rem 0;
    }

    .terms {
        justify-content: center;
    }

    .social {
        justify-content: center;
    }

}