:root {
  --color-primary: #ed6524;
  --color-secondary: #fff;
  --color-tertiary: #f6f8fc;

  --color-tertiary-2: #1e2030;

  --color-grey-1: #9fa3c4;
  --color-grey-2: #4c5292;

  --color-green-1: #5cb377;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Quicksand", sans-serif;
}
p,
a {
  font-family: "Roboto", sans-serif;
}

/* header area starts here  */
.header-area {
  display: flow-root;
  margin-bottom: 10rem;
}
.nav_area {
  padding: 2rem 0;

  height: 5rem;
  line-height: 5rem;
}

.nav_img {
  margin-left: 2rem;
  float: left;
}
.nav_link,
.nav_link:link,
.nav_link:visited {
  text-decoration: none;
  color: var(--color-tertiary-2);
  font-size: 2rem;
  font-weight: 800;
  margin-left: 1rem;
  overflow: hidden;
}

.container {
  width: 80%;
  margin: auto;
}
.row {
  margin-top: 4rem;
}
.col-6 {
}
.left {
  position: relative;
  width: 60%;
  float: left;
}
.right {
  width: 40%;
  float: left;
}

.left-header {
  font-size: 4rem;
  width: 65%;
  font-family: "Quicksand", sans-serif;
  margin-left: 10rem;
  margin-top: 2rem;
}
.left-para {
  font-size: 1.8rem;
  margin-top: 2rem;
  margin-left: 10rem;
  margin-bottom: 2rem;
}
.left-btn-group {
  margin-left: 10rem;
  margin-bottom: 4rem;
  margin-top: 4rem;
}

.btn {
  padding: 1.2rem 2.5rem;
  border: 1px solid transparent;
  border-radius: 3rem;
  font-size: 1.4rem;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  font-weight: 600;
  transition: all 0.5s;
  border: 0.2rem solid transparent;
  cursor: pointer;
}
.btn-link,
.btn-link:link,
.btn-link:visited {
  text-decoration: none;
}
.btn-buy:hover {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border: 0.2rem solid var(--color-primary);
}
.btn-learnMore {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border: 0.2rem solid var(--color-primary);
  margin-left: 2rem;
}
.btn-learnMore:hover {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  border: 0.2rem solid var(--color-primary);
  margin-left: 2rem;
}
.left-qoute {
  margin-left: 10rem;
  font-style: italic;
  border-left: 0.4rem solid var(--color-primary);
  padding: 3rem 2.5rem;
  background-color: var(--color-tertiary);
}
.left-qoute-text {
  margin-left: 2rem;
  font-size: 1.8rem;
  font-style: italic;
  color: var(--color-grey-1);
  text-align: justify;
}
.left-point {
  background-color: var(--color-tertiary);
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 13rem;
  bottom: 6.5rem;
  transform: rotate(45deg);
}
.left-qoute-writer {
  margin-top: 2rem;
}
.left-qoute-writer {
  margin-left: 12rem;
  margin-top: 3rem;
}
.qoute-writer-img {
  float: left;
}
.qoute-writer-img-1 {
  width: 5rem;
}
.qoute-writer-info {
  float: left;
}
.qoute-write-info-names {
  margin-top: 1rem;
  margin-left: 2rem;
  font-size: 1.4rem;
  color: var(--color-grey-1);
}
.qoute-writer-name {
}
.qoute-writer-desc {
}

.book-right {
  text-align: center;
}
.book-img {
  position: relative;
}
.book-img-mod {
  width: 45rem;
}
.book-sticker {
  position: absolute;
  width: 15rem;
  height: 15rem;
  background-color: var(--color-green-1);
  border-radius: 50%;
  top: -5rem;
  right: 0rem;
}
.btn-book {
  font-size: 1.7rem;
  color: var(--color-tertiary-2);
  transition: all 0.3s;
}
.btn-book:hover {
  color: var(--color-primary);
}

.book-sticker-text {
  margin-top: 4rem;
  font-size: 2.5rem;
  color: var(--color-secondary);
}

/* feature section starts here  */
.section-features {
  padding: 10rem 0;
  background-image: linear-gradient(
    to bottom,
    var(--color-tertiary),
    var(--color-secondary)
  );
  display: flow-root;
}

.section-willGet {
  padding: 5rem 0;
}
.section-header {
  text-align: center;
  margin-bottom: 2rem;
}
.heading-primary {
  text-align: center;
  font-size: 4rem;
  text-transform: capitalize;
  margin-bottom: 2rem;
}
.section-intro {
  margin: auto;
  font-size: 2rem;
  width: 45%;
  margin-bottom: 4rem;
  color: var(--color-grey-1);
}
.book-features {
}
.row {
  width: 80%;
  margin: auto;
  display: flow-root;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
.col-4 {
  width: 29%;
  float: left;
  text-align: center;
}
.col-4:not(:last-child) {
  margin-right: 4%;
}
.feature-icon {
  margin-bottom: 1rem;
}
.feature-heading {
  margin-bottom: 2rem;
  font-size: 2rem;
}
.feature-description {
  font-size: 1.7rem;
  color: var(--color-grey-1);
}

/* what's included section starts here  */

.section-included {
  padding: 13rem 0;
}
.col-6 {
  float: left;
}

.col-6-left {
  width: 50%;
  text-align: center;
}
.col-6-right {
  width: 25%;
  text-align: center;
}
.included-header {
  margin-bottom: 5rem;
}
.included-img {
}
.included-img-mod {
  width: 40rem;
}
.included-feature {
  /* text-align: left; */
  /* margin-left: 2rem; */
}
.included-list {
  list-style: none;
}
.included-list-item {
  margin-bottom: 2rem;
  font-size: 2rem;
  color: var(--color-grey-1);
}
.included-list-item i {
  color: var(--color-green-1);
  margin-right: 1rem;
}
.feature-btn {
  margin-top: 6rem;
}

/* section who this book is for starts  */
.section-whoisthisfor {
  padding: 10rem 0;
}
.whoisthisfor-header {
}

.whoisthisfor-intro {
  text-align: center;
  margin-top: 2rem;
}

.book-collector-data {
  display: flow-root;
  font-size: 1.8rem;
  width: 50%;
  margin: auto;
}
.book-collector-icon {
  float: left;
  width: 3%;
}
.book-collector-icon i {
  color: var(--color-green-1);
  margin-top: 0.4rem;
}
.book-collector-info {
  float: left;
  width: 90%;
  margin-left: 2rem;
}
.book-collector-name {
}
.book-collector-des {
  margin-top: 1rem;
  color: var(--color-grey-1);
  margin-bottom: 2rem;
}

/* section subscription   */
.section-subscription {
  padding: 5rem 0;
}
.sub-body {
  padding: 5rem 3rem;
  width: 70rem;
  /* height: 30rem; */
  background-color: var(--color-tertiary);
  margin: auto;
}
.sub-intro {
  font-size: 1.7rem;
  text-align: center;
  color: var(--color-grey-1);
}
.sub-form {
  text-align: center;
  margin-top: 3rem;
}

.form-input {
  width: 40%;
  padding: 1.7rem 1.5rem;
  border: 1px solid var(--color-tertiary);
  border-radius: 0.3rem;
}
.btn-submit {
  border-radius: 0.5rem;
  padding: 1.4rem 1.5rem;
  margin-left: 0.7rem;
}

/* review section  */
.section-reviews {
  padding: 10rem 0;
}

.review-row {
  margin-top: 8rem;
}
.review-row2 {
  margin-top: 8rem;
  width: 55%;
  margin: auto;
}
.review-4 {
  width: 25%;
  background-color: var(--color-tertiary);
  padding: 3rem 2rem;
  position: relative;
}
.review-44 {
  width: 43%;
}
.review-icon {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  line-height: 4rem;
  border-radius: 50%;
  font-size: 1.4rem;
  position: absolute;
  top: -2rem;
  left: 15rem;
}
.review-desc {
  font-size: 1.7rem;
  text-align: left;
  font-style: italic;
}
.review-data {
  margin-top: 2rem;
}
.reviewer-img {
  float: left;
  width: 5rem;
}
.review-info {
  width: 49%;
  margin-top: 1rem;
  float: left;
  font-size: 1.3rem;
  text-align: left;
  margin-left: 1rem;
}
.reviewer-name {
}
.reviewer-company {
}
.review-btn {
  text-align: center;
}
