@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --color-primary-dark: #01b6fe;
  --color-primary-light: #34c4fe;

  --color-bg-primary-dark-1: rgba(18, 18, 19, 0.658);
  --color-bg-primary-light-1: rgba(19, 21, 22, 0.678);

  --color-secondary: #ff9f41;
  --color-secondary-dark: #ff8000;
  --color-secondary-light: #ffcb99;

  --color-dark-1: #0c0b0b;

  --color-white: #fff;

  --color-grey-1: #c7c3c3;
  --color-grey-2: #f1eeee;

  --font-primary: "Rubik", sans-serif;
  --font-logo: "Pacifico", cursive;
  --font-heading: "Exo 2", sans-serif;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  outline: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-family: var(--font-primary);
}
/* 
  ##Device = Desktops
  ##Screen = 1601px
*/

@media (min-width: 1601px) {
  /* CSS Code */
}

/* 
    ##Device = Desktops
    ##Screen = 1281px to 1600px
  */

@media (min-width: 1281px) and (max-width: 1600px) {
  /* CSS Code */
}

/* 
    ##Device = Laptops, Desktops
    ##Screen = 1025px to 1280px
  */

@media (min-width: 1025px) and (max-width: 1280px) {
  html {
    font-size: 62%;
  }
  /* =============================
          Header area starts here 
          ============================= */

  /* Header contents starts here  */
  .header-area {
    height: 70vh;
  }
  .header-description {
    margin-top: 14rem;
  }
  .heading-hero {
    font-size: 4rem;
  }
  .hero-text {
    padding: 0 10rem;
  }
  /* Header contents ends here  */

  /* =============================
          Header area ends here 
          ============================= */
}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {
  html {
    font-size: 62%;
  }
  /* =============================
          Header area starts here 
          ============================= */

  /* Header contents starts here  */
  .header-area {
    height: 70vh;
  }
  .header-description {
    margin-top: 14rem;
  }
  .heading-hero {
    font-size: 4rem;
  }
  .hero-text {
    padding: 0 1rem;
  }
  /* Header contents ends here  */

  /* =============================
          Header area ends here 
          ============================= */
}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {
  html {
    font-size: 58%;
  }
  /* =============================
          Header area starts here 
          ============================= */

  /* Header contents starts here  */
  .header-area {
    height: 70vh;
  }
  .header-description {
    margin-top: 14rem;
  }
  .heading-hero {
    font-size: 4rem;
  }
  .hero-text {
    padding: 0 1rem;
  }
  /* Header contents ends here  */

  /* =============================
          Header area ends here 
          ============================= */
}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {
  html {
    font-size: 45%;
  }
  /* =============================
      Header area starts here 
      ============================= */
  /* Navbar contents starts here  */
  .navbar-toggler-icon {
    background-image: url("https://i.imgur.com/dKkEzki.png") !important;
  }
  .nav-bordered {
    border: none;
  }
  .nav-login {
    display: inline-block;
  }
  /* Navbar contents ends here  */
  /* Header contents starts here  */
  .header-area {
    height: 70vh;
  }
  .header-description {
    margin-top: 14rem;
  }
  .heading-hero {
    font-size: 4rem;
  }
  .hero-text {
    padding: 0 1rem;
  }
  /* Header contents ends here  */

  /* =============================
      Header area ends here 
      ============================= */
}
