@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --color-primary-dark: #01b6fe;
  --color-primary-light: #34c4fe;

  --color-bg-primary-dark-1: rgba(18, 18, 19, 0.658);
  --color-bg-primary-light-1: rgba(19, 21, 22, 0.678);

  --color-primary-bg-dark: rgba(1, 182, 254, 0.699);
  --color-primary-bg-light: rgba(52, 197, 254, 0.699);

  --color-secondary: #ff9f41;
  --color-secondary-dark: #ff8000;
  --color-secondary-light: #ffcb99;

  --color-secondary-bg-dark: rgba(255, 128, 0, 0.774);
  --color-secondary-bg-light: rgba(255, 202, 153, 0.747);
  --color-dark-1: #141313;
  --color-dark-2: #221d1d;

  --color-white: #fff;

  --color-grey-1: #c7c3c3;
  --color-grey-2: #f1eeee;

  --color-red-1: #c21a5b;

  --color-social-1: #1298f6;
  --color-social-2: #1da1f2;
  --color-social-3: #c33999;
  --color-social-4: #0a66c2;

  --font-primary: "Rubik", sans-serif;
  --font-logo: "Pacifico", cursive;
  --font-heading: "Exo 2", sans-serif;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  outline: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-family: var(--font-primary);
}
/* utility class  */
.marginTop2x {
  margin-top: 2rem;
}
.marginBottom2x {
  margin-bottom: 2rem;
}
.colorBg-1 {
  background-color: var(--color-primary-dark) !important;
}
.colorBg-2 {
  background-color: var(--color-white) !important;
}
.colorText-1 {
  color: var(--color-secondary-dark) !important;
}
.colorText-2 {
  color: var(--color-primary-dark) !important;
}
/* <!-- ====================================
  Header part starts here 
  ==================================== --> */

.header-area {
  background-image: linear-gradient(
      to right,
      var(--color-bg-primary-dark-1),
      var(--color-bg-primary-light-1)
    ),
    url("../img/hero-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  background-attachment: fixed;
  height: 100vh;
}
/* navigation starts here  */
.navbar-brand {
  font-family: var(--font-logo) !important;
}
.nav-modifier {
  background-color: var(--color-white);
}
.navbar-logo {
  color: var(--color-secondary);
  font-size: 3rem !important;
  text-decoration: none;
  transition: all 0.4s;
}
.navbar-logo:hover {
  color: var(--color-secondary);
  padding-left: 1rem;
}
.nav-link {
  font-size: 1.6rem !important;
  color: var(--color-dark-1);
  text-decoration: none;
  font-family: var(--font-primary);
  transition: all 0.4s;
  font-weight: 500;
}
.nav-item:not(:last-child) {
  margin-right: 1.6rem !important;
}
.nav-link:hover {
  color: var(--color-secondary-dark);
}
.nav-bordered {
  border-right: 0.4rem solid var(--color-secondary-light);
  padding-right: 1rem;
}
.nav-login {
  background-color: var(--color-secondary-dark);
  padding: 0rem 1.4rem;
  border-radius: 3rem;
  transition: all 0.4s;
}
.nav-login-link {
  color: var(--color-white);
}
.nav-login:hover {
  background-color: var(--color-dark-1);
}
/* navigation ends here  */
/* header contents start here  */
.header-description {
  margin-top: 25rem;
  text-align: center;
}
.heading {
}
.heading-hero {
  font-size: 7rem;
  color: var(--color-white);
  font-family: var(--font-heading);
  font-weight: 800;
}
.heading-hero-mod {
  color: var(--color-secondary-dark);
}
.hero-text {
  padding: 0 22rem;
  font-size: 1.6rem;
  margin-top: 2rem;
  color: var(--color-grey-1);
}

.btnPrimary {
  text-decoration: none;
  font-size: 1.6rem;
  text-transform: capitalize;
  color: var(--color-white);
  background-color: var(--color-secondary);
  padding: 1.5rem 2.5rem;
  border-radius: 3rem;
  margin-top: 2rem;
  display: inline-block;
}
.btn-icon {
  transition: all 0.4s;
}
.btn-enroll {
  margin-right: 1rem;
}
.btn-learnmore {
  margin-left: 1rem;
}
.btnPrimary-hover:hover {
  text-decoration: none;
  color: var(--color-white);
}
.btnPrimary-hover:hover .btn-icon {
  padding-left: 1rem;
}
/* header contents end here  */

/* <!-- =========================================
  Header part ends here 
  =============================================== --> */
/* <!-- =========================================
  Section Feature part starts here 
  =============================================== --> */
.section-feature {
  padding: 20rem 0;
  background-color: var(--color-grey-2);
}
.school-feature {
}
.feature-box {
  padding: 2rem;
  background-color: var(--color-white);
  position: relative;
  border-left: 0.3rem solid var(--color-secondary-dark);
  transition: all 0.3s;
}
.feature-box::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 0.3rem;
  background-color: var(--color-primary-dark);
  bottom: 0;
  left: -0.2rem;
  transition: all 0.3s;
}
.feature-box:hover {
  border-left: 0.3rem solid transparent;
  box-shadow: 2px 2px 25px -1px var(--color-secondary-dark);
  transform: translateY(-2rem);
}
.feature-box:hover:after {
  width: 100%;
}

.feature-icon {
  width: 8rem;
  height: 8rem;
  background-color: var(--color-grey-2);
  text-align: center;
  line-height: 8rem;
  border-radius: 50%;
  position: absolute;
  right: 1rem;
  top: -4rem;
}
.feature-icon-photo {
  width: 50%;
}
.feature-header {
}
.feature-header-info {
  font-size: 2.3rem;
  margin-top: 4rem;
  font-family: var(--font-heading);
  font-weight: 600;
}
.feature-header-info-mod {
  color: var(--color-primary-dark);
  transition: all.3s;
}
.feature-box:hover .feature-header-info-mod {
  color: var(--color-secondary-dark);
}
.feature-divider {
  width: 5rem;
  height: 0.2rem;
  background-color: var(--color-secondary-dark);
  margin-bottom: 2rem;
  margin-top: 1rem;
  transition: all 0.3s;
}

.feature-box:hover .feature-divider {
  width: 6rem;
  background-color: var(--color-primary-dark);
}
.feature-description {
}
.feature-description-text {
  font-size: 1.5rem;
  color: var(--color-bg-primary-dark-1);
  text-align: justify;
}
/* <!-- =========================================
  Section Feature part ends here 
  =============================================== --> */
/* <!-- =========================================
  Section Popular Course part starts here 
  =============================================== --> */
.section-popular-courses {
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      var(--color-bg-primary-dark-1),
      var(--color-bg-primary-light-1)
    ),
    url("../img/class-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;

  background-attachment: fixed;
}

/* course content starts here  */
.popular-course-header {
  text-align: center;
  margin-bottom: 9rem;
}
.section-header {
  font-size: 6rem;
  font-family: var(--font-heading);
  font-weight: 600;
  color: var(--color-white);
  margin-bottom: 2rem;
}
.divider {
  height: 0.3rem;
  width: 10rem;
  background-color: var(--color-secondary);
  margin: auto;
}
.course {
  background-color: var(--color-white);
  position: relative;
}
.course-img {
}
.course-img-link {
}
.course-img-photo {
}
.course-students {
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  background-color: var(--color-secondary-dark);
}
.course-student-number {
  margin-bottom: 0;
  color: var(--color-white);
  font-family: var(--font-heading);
}
.course-fee {
}
.course-timing {
  margin-top: 1rem;
}
.course-time {
  font-size: 1.4rem;
  font-family: var(--font-heading);
  font-weight: 600;
  letter-spacing: 0.1rem;
  background-color: var(--color-primary-dark);
  display: inline-block;
  padding: 0.5rem 1rem;
  color: var(--color-white);
  margin-bottom: 2rem;
}
.course-info {
  padding: 1rem 2rem;
}
.course-header-link {
  text-decoration: none;
  margin-top: 2rem;
}
.course-header {
  color: var(--color-dark-1);
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}
.course-header-link:hover {
  text-decoration: none;
}
.course-header:hover {
  color: var(--color-secondary-dark);
}
.course-description {
  font-size: 1.5rem;
  text-align: justify;
  color: var(--color-bg-primary-dark-1);
}
.course-btn {
}
.btnCourse {
  text-align: center;
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--color-white);
  background-color: var(--color-secondary-dark);
  border: 0.1rem solid transparent;
  padding: 1rem 1.5rem;
  position: absolute;
  top: 0;
  left: 12rem;
  opacity: 0;
  transition: all 0.3s;
}

.btn-seemore {
}
.btn-icon-course {
  padding-left: 1rem;
}
.btnCourse:hover {
  text-decoration: none;
  border: 0.1rem solid var(--color-secondary-dark);
  background-color: var(--color-dark-1);
  color: var(--color-white);
}
.course:hover .btnCourse {
  top: 10rem;
  opacity: 1;
}
/* course content ends here  */

/* <!-- =========================================
  Section Popular Course part ends here 
  =============================================== --> */
/* <!-- =========================================
  Section class routine Course part starts here 
  =============================================== --> */
.section-class-routine {
  padding: 10rem 0;
}
.section-header-classRoutine {
  color: var(--color-primary-dark) !important;
}
/* tab button parts starts here  */
.classCol {
}
.class-day {
  border-bottom: 0.1rem solid var(--color-secondary-dark);
}
.class-day-1 {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  padding: 1rem 4.8335rem;
}
.class-day-1:active {
  outline: none;
}
.class-day-active {
  background-color: var(--color-secondary-dark);
  color: var(--color-white);
}
.class-routine-time {
  display: none;
}

#sat-class {
  display: block;
}

/* tab button parts ends here  */
/* tab content parts starts here  */
.saturday__class {
  margin-top: 10rem;
}
.saturday__classTime {
}
.classTime__title {
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
  display: inline-block;
  border-bottom: 0.1rem solid var(--color-secondary-dark);
}
.classTime__header {
  font-size: 4rem;
  font-family: var(--font-heading);
}
.classTime__break {
}
.classTime__notice {
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  margin-top: 10rem;
  color: var(--color-red-1);
}
.classTime__img {
}
.classTime__img-picture {
}

/* tab content parts ends here  */

/* <!-- =========================================
  Section class routine Course part ends here 
  =============================================== --> */
/* <!-- =========================================
  Section Enroll Child starts here 
  =============================================== --> */
.section-enroll-child {
  padding: 10rem 0;
  background-image: linear-gradient(
      to right bottom,
      var(--color-primary-bg-dark),
      var(--color-primary-bg-light)
    ),
    url("../img/enroll-bg.jpg");
  background-attachment: fixed;
}

.enroll-child {
}
.enroll {
  color: var(--color-white);
  font-size: 1.6rem;
  text-align: center;
  background-color: var(--color-bg-primary-dark-1);
  padding: 3rem 17rem;
  border-radius: 1rem;
}

.enroll-description {
}
.enroll-contact {
  font-size: 4rem;
  font-family: var(--font-heading);
  color: var(--color-secondary-dark);
  font-weight: 700;
  letter-spacing: 0.2rem;
}
.enroll-contact-icon {
}
.enroll-contact-icon .fa-phone-alt {
  font-size: 3rem;
}
/* <!-- =========================================
  Section Enroll Child ends here 
  =============================================== --> */
/* <!-- =========================================
  Section Campus Tour ends here 
  =============================================== --> */
.section-campus-tour {
  padding: 10rem 0;
  background-color: var(--color-dark-2);
}
.campus-tour-header {
  color: var(--color-secondary-dark);
}
.campus-divider {
  background-color: var(--color-white);
}
.campus-tour-img {
  margin-bottom: 2rem;
}
.campus-tour-img-pic {
  width: 100%;
  cursor: pointer;
}
.campus-tour-btn {
  text-align: center;
}
/* <!-- =========================================
  Section Campus Tour ends here 
  =============================================== --> */
/* <!-- =========================================
  Section Teacher starts here 
  =============================================== --> */
.section-our-teachers {
  padding: 10rem 0;
}
.our-teachers {
}
.teacher {
}
.teacher-img {
  position: relative;
}
.teacher-img-mod {
}
.teacher-contact {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  height: 52.5rem;
  opacity: 0;
  transition: all 0.6s;
}
.teacher-contact-info {
  text-align: center;
  line-height: 52.5rem;
  font-size: 4.6rem;
}
.teacher-i {
  color: var(--color-white);
}
.teacher-i a,
.teacher-i a:link,
.teacher-i a:visited {
  text-decoration: none;
  color: var(--color-white);
}
.teacher-fb a i {
}
.teacher-fb a i:hover {
  color: var(--color-social-1);
}
.teacher-twitter a i {
}
.teacher-twitter a i:hover {
  color: var(--color-social-2);
}
.teacher-insta a i {
}
.teacher-insta a i:hover {
  color: var(--color-social-3);
}
.teacher-linkedin a i {
}
.teacher-linkedin a i:hover {
  color: var(--color-social-4);
}
.teacher-img:hover .teacher-contact {
  opacity: 1;
}
.teacher-info {
  text-align: center;
  padding: 2rem 0;
  background-image: linear-gradient(
    to right bottom,
    var(--color-red-1),
    var(--color-secondary-dark)
  );
}
.teacher-name {
  font-size: 3rem;
  font-family: var(--font-heading);
  color: var(--color-white);
  position: relative;
}
.teacher-name:after {
  /* content: "";
  width: 4rem;
  height: 0.3rem;
  background-color: var(--color-dark-1);
  position: absolute;
  top: 4.6rem;
  left: 50%;
  transform: translate(-50%, -50%); */
}
.teacher-subject {
  font-size: 1.6rem;
  color: var(--color-white);
  /* margin-top: 2rem; */
}

/* <!-- =========================================
  Section Teacher ends here 
  =============================================== --> */
/* <!-- =========================================
  Section Our Blog starts here 
  =============================================== --> */
.section-our-blog {
  padding: 10rem 0;
  background-color: var(--color-secondary);
}
.blog-1 {
}
.blog-thumbnail {
}
.blog-img {
}
.blog-description {
  background-color: var(--color-white);
  padding: 2rem;
}
.blog-author {
  background-color: var(--color-red-1);
  padding: 1rem 2rem;
  color: var(--color-white);
  display: flex;
  justify-content: space-between;
}

.blog-author-name {
  margin-bottom: 0;
  font-size: 1.1rem;
}
.blog-author-name-mod {
  font-size: 1.3rem;
  font-weight: bold;
}
.blog-author-class {
  margin-bottom: 0rem;
  font-size: 1.3rem;
}
.blog-title {
}
.blog-title-link,
.blog-title-link:link,
.blog-title-link:visited {
  text-decoration: none;
  color: var(--color-primary-dark);
}
.blog-title-name {
  margin-bottom: 1rem;
}

.blog-info {
  font-size: 1.5rem;
  text-align: justify;
  color: var(--color-bg-primary-light-1);
}
/* <!-- =========================================
  Section Our Blog ends here 
  =============================================== --> */
/* <!-- =========================================
  Section Newsletter starts here 
  =============================================== --> */
.section-newsletter {
  padding: 8rem 0;
  background-color: var(--color-red-1);
}
.newsletter-header {
}
.newsletter-heading {
  font-size: 3.5rem;
  font-family: var(--font-heading);
  font-weight: 400;
  color: var(--color-white);
}
.newsletter-form {
}
.newsletter-form .form {
}
.newsletter-input {
  display: inline-block;
  background-color: var(--color-white);
  padding: 1rem 1.2rem;
  font-size: 1.5rem;
}

.newsletter-input i {
  font-size: 1.6rem;
  color: var(--color-bg-primary-dark-1);
}
.newsletter-input-control {
  border: none;
  background-color: transparent;
  margin-left: 1rem;
  padding-right: 10rem;
}
.newsletter-submit-btn {
  border: none;
  padding: 1rem 1.2rem;
  font-size: 1.55rem;
  font-family: var(--font-heading);
  background-color: var(--color-dark-1);
  color: var(--color-white);
}
/* <!-- =========================================
  Section Newsletter ends here 
  =============================================== --> */
