@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --color-primary-dark: #01b6fe;
  --color-primary-light: #34c4fe;

  --color-bg-primary-dark-1: rgba(18, 18, 19, 0.658);
  --color-bg-primary-light-1: rgba(19, 21, 22, 0.678);

  --color-secondary: #ff9f41;
  --color-secondary-dark: #ff8000;
  --color-secondary-light: #ffcb99;

  --color-dark-1: #0c0b0b;

  --color-white: #fff;

  --color-grey-1: #c7c3c3;
  --color-grey-2: #f1eeee;

  --font-primary: "Rubik", sans-serif;
  --font-logo: "Pacifico", cursive;
  --font-heading: "Exo 2", sans-serif;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  outline: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-family: var(--font-primary);
}

/* <!-- ====================================
  Header part starts here 
  ==================================== --> */

.header-area {
  background-image: linear-gradient(
      to right,
      var(--color-bg-primary-dark-1),
      var(--color-bg-primary-light-1)
    ),
    url("../img/hero-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}
/* navigation starts here  */
.navbar-brand {
  font-family: var(--font-logo) !important;
}
.nav-modifier {
  background-color: var(--color-white);
}
.navbar-logo {
  color: var(--color-secondary);
  font-size: 3rem !important;
  text-decoration: none;
  transition: all 0.4s;
}
.navbar-logo:hover {
  color: var(--color-secondary);
  padding-left: 1rem;
}
.nav-link {
  font-size: 1.6rem !important;
  color: var(--color-dark-1);
  text-decoration: none;
  font-family: var(--font-primary);
  transition: all 0.4s;
  font-weight: 500;
}
.nav-item:not(:last-child) {
  margin-right: 1.6rem !important;
}
.nav-link:hover {
  color: var(--color-secondary-dark);
}
.nav-bordered {
  border-right: 0.4rem solid var(--color-secondary-light);
  padding-right: 1rem;
}
.nav-login {
  background-color: var(--color-secondary-dark);
  padding: 0rem 1.4rem;
  border-radius: 3rem;
  transition: all 0.4s;
}
.nav-login-link {
  color: var(--color-white);
}
.nav-login:hover {
  background-color: var(--color-dark-1);
}
/* navigation ends here  */
/* header contents start here  */
.header-description {
  margin-top: 25rem;
  text-align: center;
}
.heading {
}
.heading-hero {
  font-size: 7rem;
  color: var(--color-white);
  font-family: var(--font-heading);
  font-weight: 800;
}
.heading-hero-mod {
  color: var(--color-secondary-dark);
}
.hero-text {
  padding: 0 22rem;
  font-size: 1.6rem;
  margin-top: 2rem;
  color: var(--color-grey-1);
}

.btnPrimary {
  text-decoration: none;
  font-size: 1.6rem;
  text-transform: capitalize;
  color: var(--color-white);
  background-color: var(--color-secondary);
  padding: 1.5rem 2.5rem;
  border-radius: 3rem;
  margin-top: 2rem;
  display: inline-block;
}
.btn-icon {
  transition: all 0.4s;
}
.btn-enroll {
  margin-right: 1rem;
}
.btn-learnmore {
  margin-left: 1rem;
}
.btnPrimary-hover:hover {
  text-decoration: none;
  color: var(--color-white);
}
.btnPrimary-hover:hover .btn-icon {
  padding-left: 1rem;
}
/* header contents end here  */

/* <!-- =========================================
  Header part ends here 
  =============================================== --> */
/* <!-- =========================================
  Section Feature part starts here 
  =============================================== --> */
.section-feature {
  padding: 10rem 0;
  background-color: var(--color-grey-2);
}
.school-feature {
}
.feature-box {
  padding: 2rem;
  background-color: var(--color-white);
  position: relative;
  border-left: 0.3rem solid var(--color-primary-dark);
  transition: all 0.3s;
  border-radius: 1rem;
}
.feature-box::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 0.3rem;
  background-color: var(--color-secondary-dark);
  bottom: 0;
  left: -0.1rem;
  transition: all 0.3s;
}
.feature-box:hover {
  border-left: 0.3rem solid transparent;
  box-shadow: 2px 2px 25px -1px var(--color-dark-1);
  transform: translateY(-2rem);
}
.feature-box:hover:after {
  width: 100%;
}
.feature-icon {
  width: 8rem;
  height: 8rem;
  background-color: var(--color-grey-2);
  text-align: center;
  line-height: 8rem;
  border-radius: 50%;
  position: absolute;
  right: 1rem;
  top: -4rem;
}
.feature-icon-photo {
  width: 50%;
}
.feature-header {
}
.feature-header-info {
  font-size: 2.3rem;
  margin-top: 4rem;
  font-family: var(--font-heading);
  font-weight: 600;
}
.feature-header-info-mod {
  color: var(--color-primary-dark);
  transition: all.3s;
}
.feature-box:hover .feature-header-info-mod {
  color: var(--color-secondary-dark);
}
.feature-divider {
  width: 5rem;
  height: 0.2rem;
  background-color: var(--color-primary-dark);
  margin-bottom: 2rem;
  margin-top: 1rem;
  transition: all 0.3s;
}

.feature-box:hover .feature-divider {
  width: 6rem;
  background-color: var(--color-secondary-dark);
}
.feature-description {
}
.feature-description-text {
  font-size: 1.5rem;
  color: var(--color-bg-primary-dark-1);
  text-align: justify;
}
/* <!-- =========================================
  Section Feature part ends here 
  =============================================== --> */
