@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --color-primary-1: #3d2514;


    --color-red-1: #bf2222;

    --color-yellow-1: #ffc045;

    --color-white-1: #fff;

    --color-text-shadow: #fee8bc;


    --font-1: 'Alfa Slab One', cursive;
    --font-2: 'Bebas Neue', cursive;
    --font-3: 'Montserrat', sans-serif;
}
*,*::after,*::before{
    margin: 0;
    padding: 0;
    outline: 0;
}
html{
    font-size: 10px;
}
/*==================================================*/
/*============= HEADER SECTION STARTS HERE-->*/
/*==================================================*/

.header-area{
    background-image: url("../img/bg-2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.container-hero{
    width: 90%;
    margin: auto;
}
.container-catalog{
    width: 70%;
    margin: auto;
}

.express-delivery{
    text-align: right;
    margin-top: 5rem;
}
.express-img{
    margin-right: 1rem;
    width: 3rem;
}
.express-del {
    display: inline-block;
    font-family: var(--font-3);
    font-weight: bold;
    font-size: 1.4rem;
    color: var(--color-primary-1) !important;
}
.custom-nav{
    font-size: 1.8rem;
    margin-right: -1.6rem;
    font-family: var(--font-2);
    letter-spacing: .2rem;
    margin-top: -2rem;
    text-transform: uppercase;
}
.navbar-nav{
    margin-top: 3rem !important;
}
.navbar-nav li:not(:last-child){
    margin-right: 4rem !important;
}

.row-mod-1{
    margin-top: 10rem;
}
.hero-burger{
    margin-left: 10rem !important;
}
.hero-info{
    margin-top: 8rem;

}
.hero-info-mod{
    font-size: 2.2rem;
    font-family: var(--font-2);
    letter-spacing: .1rem;
    border: .2rem dashed;
    display: inline-block;
    padding: 1rem;
}
.burger{
    font-size: 12rem;
    font-family: var(--font-1);
    letter-spacing: .1rem;
    color: var(--color-primary-1);
    text-shadow: 0.3rem 0.4rem var(--color-text-shadow);
}
.week{
    font-size: 10rem;
    font-family: var(--font-1);
    color: var(--color-primary-1);
    text-shadow: .3rem .4rem var(--color-text-shadow);
    letter-spacing: .1rem;
}
/*==================================================*/
/*============= HEADER SECTION ENDS HERE-->*/
/*==================================================*/


/*==================================================*/
/*============= CATALOG SECTION STARTS HERE-->*/
/*==================================================*/
.section-catalog{
    padding: 10rem 0;
}
.catalog-left{
    background-image: url("../img/popular_burger.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 40rem;
    border-radius: 1rem;
    margin-right: 2rem;
}

.catalog-right-1{
    background-image: url("../img/more_taste.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 18rem;
    border-radius: 1rem;
}
.catalog-right-2{
    background-image: url("../img/fresh_chili.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 18rem;
    margin-top: 4rem;
    border-radius: 1rem;
}

.catalog-left-info{
    padding-top: 3rem;
    margin-left: 3rem;
    color: var(--color-white-1);
    text-transform: uppercase;
    font-family: var(--font-2);
    letter-spacing: .1rem;
}
.catalog-tryit{
    color: var(--color-white-1);
    text-transform: uppercase;
    font-family: var(--font-2);
    letter-spacing: .1rem;
    font-size: 2.6rem;
    margin-bottom: -1rem;
}
.catalog-popular{
    font-size: 4.6rem;
}
.more-taste{
    margin-top: -2rem;
}
/*==================================================*/
/*============= CATALOG SECTION ENDS HERE-->*/
/*==================================================*/

