@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-primary-1: #3d2514;


    --color-red-1: #bf2222;

    --color-yellow-1: #ffc045;

    --color-white-1: #fff;

    --color-grey-1: #bebebe;

    --color-black-1: #3d3d3d;

    --color-text-shadow: #fee8bc;


    --font-1: 'Alfa Slab One', cursive;
    --font-2: 'Bebas Neue', cursive;
    --font-3: 'Montserrat', sans-serif;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    outline: 0;
}

html {
    font-size: 10px;
}

/*==================================================*/
/*============= HEADER SECTION STARTS HERE-->*/
/*==================================================*/

.header-area {
    background-image: url("../img/bg-2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.container-hero {
    width: 90%;
    margin: auto;
}

.container-catalog {
    width: 70%;
    margin: auto;
}

.express-delivery {
    text-align: right;
    margin-top: 5rem;
}

.express-img {
    margin-right: 1rem;
    width: 3rem;
}

.express-del {
    display: inline-block;
    font-family: var(--font-3);
    font-weight: bold;
    font-size: 1.4rem;
    color: var(--color-primary-1) !important;
}

.custom-nav {
    font-size: 1.8rem;
    margin-right: -1.6rem;
    font-family: var(--font-2);
    letter-spacing: .2rem;
    margin-top: -2rem;
    text-transform: uppercase;
}

.navbar-nav {
    margin-top: 3rem !important;
}

.navbar-nav li:not(:last-child) {
    margin-right: 4rem !important;
}

.row-mod-1 {
    margin-top: 10rem;
}

.hero-burger {
    margin-left: 10rem !important;
}

.hero-info {
    margin-top: 8rem;

}

.hero-info-mod {
    font-size: 2.2rem;
    font-family: var(--font-2);
    letter-spacing: .1rem;
    border: .2rem dashed;
    display: inline-block;
    padding: 1rem;
}

.burger {
    font-size: 12rem;
    font-family: var(--font-1);
    letter-spacing: .1rem;
    color: var(--color-primary-1);
    text-shadow: 0.3rem 0.4rem var(--color-text-shadow);
}

.week {
    font-size: 10rem;
    font-family: var(--font-1);
    color: var(--color-primary-1);
    text-shadow: .3rem .4rem var(--color-text-shadow);
    letter-spacing: .1rem;
}

/*==================================================*/
/*============= HEADER SECTION ENDS HERE-->*/
/*==================================================*/


/*==================================================*/
/*============= CATALOG SECTION STARTS HERE-->*/
/*==================================================*/
.section-catalog {
    padding: 10rem 0;
}

.catalog-left {
    background-image: url("../img/popular_burger.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 40rem;
    border-radius: 1rem;
    margin-right: 2rem;
}

.catalog-right-1 {
    background-image: url("../img/more_taste.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 18rem;
    border-radius: 1rem;
}

.catalog-right-2 {
    background-image: url("../img/fresh_chili.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 18rem;
    margin-top: 4rem;
    border-radius: 1rem;
}

.catalog-left-info {
    padding-top: 3rem;
    margin-left: 3rem;
    color: var(--color-white-1);
    text-transform: uppercase;
    font-family: var(--font-2);
    letter-spacing: .1rem;
}

.catalog-tryit {
    color: var(--color-white-1);
    text-transform: uppercase;
    font-family: var(--font-2);
    letter-spacing: .1rem;
    font-size: 2.6rem;
    margin-bottom: -1rem;
}

.catalog-popular {
    font-size: 4.6rem;
}

.more-taste {
    margin-top: -2rem;
}

.button {
    text-align: center;
    margin-top: 8rem;
}

.tasty-burger, .tasty-burger:link, .tasty-burger:visited {
    font-size: 2rem;
    text-transform: uppercase;
    background-color: var(--color-yellow-1);
    color: var(--color-primary-1);
    padding: 1.2rem 1.8rem;
    font-family: var(--font-2);
    text-decoration: none;
    font-weight: bold;
    letter-spacing: .1rem;
}

/*==================================================*/
/*============= CATALOG SECTION ENDS HERE-->*/
/*==================================================*/


/*==================================================*/
/*============= CHOOSE & ENJOY SECTION STARTS HERE-->*/
/*==================================================*/

.section-chooseEnjoy {
    padding: 10rem 0;
}

.chooseEjnoy-info {
    text-align: center;
    margin-bottom: 6rem;
}

.heading-primary {
    font-size: 6rem;
    font-family: var(--font-1);
    text-transform: uppercase;
    color: var(--color-primary-1);
}

.chooseEnjoy-intro {
    font-size: 1.7rem;
    margin-top: 2rem;
    font-family: var(--font-3);
    color: var(--color-primary-1);
}

.burger-info {
    text-align: center;
}

.burger-img {
    margin-left: 2rem;
}

.burger-img-mod {
    /*height: 22.5rem;*/
}

.burger-title {
    font-size: 4rem;
    text-transform: uppercase;
    font-family: var(--font-2);
    color: var(--color-primary-1);
}

.burger-desc {
    font-size: 1.7rem;
    margin-bottom: 3rem;
    font-family: var(--font-3);
    color: var(--color-primary-1);
}

.burger-button, .burger-button:link, .burger-button:visited {
    background-color: var(--color-red-1);
    color: var(--color-white-1);
    font-family: var(--font-1);
    font-size: 1.5rem;
    letter-spacing: .2rem;
    padding: 1.5rem 2rem;
    text-transform: uppercase;
    text-decoration: none;
}

/*==================================================*/
/*============= CHOOSE & ENJOY SECTION ENDS HERE-->*/
/*==================================================*/
/*==================================================*/
/*============= UPCOMING  SECTION STARTS HERE-->*/
/*==================================================*/
.section-upcoming-events {
    padding: 10rem 0;
}

.uevent {

}

.uevent:hover {

}

.owl-stage-outer {
    position: relative;
    transition: all .3s !important;
}

.owl-stage-outer:hover {
    box-shadow: 1rem 1rem 3rem var(--color-black-1) !important;
}

.owl-dots {
    position: absolute;
    left: 3.2rem;
    bottom: 2.3rem;
}

.owl-theme .owl-dots .owl-dot.active span {
    background-color: var(--color-yellow-1);
}

.owl-theme .owl-dots .owl-dot.active span:hover {
    outline: none;
}

.uevents {

}

.uevents-left {
    margin-left: 4rem;
    margin-top: 2rem;
}

.uevent-discover {
    color: var(--color-primary-1);
}

.uevent-upcoming {
    text-transform: uppercase;
    font-family: var(--font-1);
    margin-top: 2rem;
    font-size: 4rem;
    color: var(--color-primary-1);
}

.uevent-desc {
    font-family: var(--font-3);
    font-size: 1.9rem;
    margin-top: 3rem;
}

/*==================================================*/
/*============= UPCOMING  SECTION ENDS HERE-->*/
/*==================================================*/
/*==================================================*/
/*============= RESERVE TABLE SECTION STARTS HERE-->*/
/*==================================================*/

.section-find-table {
    background-image: url("../img/bg.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-repeat: no-repeat;
}

.find-table {
    margin-top: 10rem;
    text-align: center;
}

.find-table-reserve {
    font-family: var(--font-2);
    font-size: 3rem;
    color: var(--color-primary-1);
    letter-spacing: .2rem;

}

.form {
    margin-top: 14rem;
}
.form-left{
    margin-left: 8rem;
    margin-right: -10rem;
}
.form-input {
    display: block;
    width: 80%;
    padding: 2rem 0;
    margin-bottom: 3rem;
    padding-left: 1.6rem;
    font-size: 1.6rem;
    border: .1rem solid var(--color-grey-1);
    border-radius: .8rem;
}
.form-input::placeholder{
    font-size: 1.6rem;
    font-family: var(--font-2);
    color: var(--color-primary-1);
}
.button-find-table, .button-find-table:link, .button-find-table:visited{
    text-decoration: none;
    text-transform: uppercase;
    background-color: var(--color-red-1);
    color: var(--color-white-1);
    font-family: var(--font-1);
    font-size: 1.7rem;
    display: inline-block;
    width: 80%;
    text-align: center;
    padding: 2rem 0 2rem 2rem;
    border-radius: .8rem;
}
/*==================================================*/
/*============= RESERVE TABLE SECTION ENDS HERE-->*/
/*==================================================*/

/*==================================================*/
/*============= FOOTER SECTION STARTS HERE-->*/
/*==================================================*/
.footer-area{
    /*padding: 10rem 0;*/

}
.container-footer{
    width: 80%;
    margin: auto;
}
.footer{
    background-image: url("../img/about-bg.png");
    background-size: cover;
    background-position: center;
    height: 64vh;
    background-repeat: no-repeat;

}
.about-logo{
    margin-top: 8rem;
    margin-left: 4rem;
}
.about-info{
    font-size: 1.6rem;
    color: var(--color-white-1);
    margin-left: 5rem;
    margin-top: 10rem;
    font-family: var(--font-3);
    padding-right: 18rem;
}
.about-desc{

}
.about-address{
    color: var(--color-white-1);
    margin-top: 12rem;
    font-size: 2.5rem;
    margin-left: 20rem;
    font-family: var(--font-2);
    letter-spacing: .1rem;
}

.about-location i{
    margin-right: 4rem;
}
.about-email i{
    margin-right: 3.5rem;
}
.copyright{
    margin-left: 5rem;
    color: var(--color-white-1);
    font-size: 1.8rem;
    font-family: var(--font-2);
    letter-spacing: .1rem;
    margin-top: 17rem;
}
.social{
    list-style: none;
    margin-top: 17rem;
    text-align: right;
    margin-right: 4rem;
}
.social-icon{
    background-color: var(--color-white-1);
    display: inline-block;
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    font-size: 1.8rem;
    border-radius: 50%;
    margin-left: 3rem;
    cursor: pointer;
}
/*==================================================*/
/*============= FOOTER SECTION ENDS HERE-->*/
/*==================================================*/


