@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


:root{
    --fit-color-primary-1: #2ecc71;
    --fit-color-dark-1: #5a5a5a;
    --fit-color-light-1: #ffffff;
}

html{
    font-size: 10px;
}