@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


:root {
    --fit-color-primary-1: #2ecc71;
    --fit-color-dark-1: #5a5a5a;
    --fit-color-light-1: #ffffff;

    --fit-font: 'Quicksand', sans-serif;
}

h1, h2, h3, h4, h5, h6, a, p, span, div {
    font-family: var(--fit-font);

}

html {
    font-size: 10px;
}

/*================================================*/
/*header area starts here*/
/*================================================*/

.header-area {
    background-image: url("../img/hero.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;

}

.menu-bar {
    margin-top: 4rem;
}

.nav-link {
    color: var(--fit-color-light-1) !important;
    font-size: 1.6rem;
    margin-right: 2rem;
}

.nav-link-circle {
    border: .1rem solid var(--fit-color-light-1);
    padding: 1rem 3rem !important;
    border-radius: 3rem;
    margin-top: -.5rem;
    color: var(--fit-color-primary-1) !important;
    background-color: var(--fit-color-light-1);
    font-weight: bold;
}

.app-hero-section {

    margin-top: 10rem;
}

.img-app-logo {

}

.app-header {
    font-size: 4.8rem;
    color: var(--fit-color-light-1);
    font-weight: lighter;
    margin-left: 5rem;
}

.app-header-mod {
    font-weight: bold;
}

.app-hero-description {
    font-size: 1.6rem;
    width: 55%;
    color: var(--fit-color-light-1);
    margin-top: 3rem;
    margin-left: 5rem;
    font-weight: 300;
}

.app-hero-store {
    margin-left: 5rem;
    margin-top: 5rem;
}

.app-store {
    margin-right: 2rem;
}

.play-store {

}

/*================================================*/
/*header area ends here*/
/*================================================*/
/*================================================*/
/*section app feature starts here*/
/*================================================*/
.section-app-feature {
    padding: 10rem 0;
}

.app-feature-img {

}

.img-app-feature {

}

.app-feature-info {
    margin-top: 25rem;
    margin-left: 4rem;
}

.heading-primary {
    font-size: 4rem;
    color: var(--fit-color-dark-1);
    font-weight: 300;
}

.heading-primary-mod {
    color: var(--fit-color-primary-1);
    font-weight: 500;
}

.app-feature-des {
    font-size: 1.6rem;
    color: var(--fit-color-dark-1);
    margin-top: 2rem;
}

/*================================================*/
/*section app feature ends here*/
/*================================================*/
/*================================================*/
/*section diet plan starts here*/
/*================================================*/
.section-diet-plan {
    background-image: url("../img/diet-plan.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
}

.diet-plan {
    text-align: center;
    margin-top: 6rem;
}

.diet-plan-des {
    font-size: 1.6rem;
    width: 75%;
    margin: auto;
    margin-top: 3rem;
    font-weight: 400;
    color: var(--fit-color-dark-1);
}

/*================================================*/
/*section diet plan ends here*/
/*================================================*/
/*================================================*/
/*section meal time starts here*/
/*================================================*/
.section-meal-time{
    padding: 10rem 0;
}
.meal-time{
    margin-top: 22rem;
}
.meal-time-des{
    font-size: 1.6rem;
    margin-top: 2rem;
    width: 71%;
    color: var(--fit-color-dark-1);
}
.meal-time-img{
    text-align: center;
    margin-left: 7rem;
}
.img-meal-time-1{
    width: 40rem;

}
.img-meal-time-2{

}
.img-meal-time-3{
    width: 40rem;

}

/*================================================*/
/*section meal time ends here*/
/*================================================*/
/*================================================*/
/*section footer starts here*/
/*================================================*/
.footer-area{
    background-image: url("../img/footer-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 40vh;
    padding: 10rem 0;
}
.footer{
    text-align: center;
}
.footer-header{
    color: var(--fit-color-light-1);
}
.footer-header-mod{
    color: var(--fit-color-light-1);
}
.footer-des{
    margin: auto;
    margin-top: 3rem;
    color: var(--fit-color-light-1);
}
.footer-btn{
    margin-top: 3rem;
    display: inline-block;
    font-size: 1.6rem;
    padding: 1rem 8rem !important;
    border: .1rem solid var(--fit-color-light-1);
    border-radius: 3rem;
    color: var(--fit-color-primary-1) !important;
    background-color: var(--fit-color-light-1);
    font-weight: bold;
}
.footer-btn:hover{
    color: var(--fit-color-light-1);
}
/*================================================*/
/*section footer ends here*/
/*================================================*/

/*
  ##Device = Desktops
  ##Screen = 1601px
*/

@media (min-width: 1601px) {

    /* CSS Code */

}

/*
  ##Device = Desktops
  ##Screen = 1281px to 1600px
*/

@media (min-width: 1281px) and (max-width: 1880px) {

    /* CSS Code */
    .app-feature-info {
        margin-top: 19rem;
        margin-left: 4rem;
    }
    .meal-time {
        margin-top: 15rem;
    }

}

/*
  ##Device = Laptops, Desktops
  ##Screen = 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

    /* CSS Code */
    .app-feature-info {
        margin-top: 13rem;
    }
    .meal-time {
        margin-top: 11rem;
    }

}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

    /* CSS Code */
    .nav-link-circle {
        border: none;
        padding: 0rem 0rem !important;
        border-radius: 0rem;
        margin-top: 0rem;
        color: var(--fit-color-light-1) !important;
        background-color: transparent;
        font-weight: normal;
        display: inline-block;
    }
    .app-feature-info {
        margin-top: 5rem;
    }
    .meal-time {
        margin-top: 1rem;
    }
    .meal-time-des {
        width: 93%;
    }
    .footer{
        margin-top: -3rem;
    }

}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

    /* CSS Code */
    html{
        font-size: 8px;
    }
    .nav-link-circle {
        border: none;
        padding: 0rem 0rem !important;
        border-radius: 0rem;
        margin-top: 0rem;
        color: var(--fit-color-light-1) !important;
        background-color: transparent;
        font-weight: normal;
        display: inline-block;
    }
    .app-feature-info {
        margin-top: 2rem;
        margin-left: 2rem;
    }
    .meal-time {
        margin-top: 1rem;
        text-align: center;
    }
    .meal-time-des {
        width: 82%;
        margin: auto;
        margin-top: 3rem;
    }
    .meal-time-img {
        text-align: center;
        margin-left: 0rem;
    }
    .footer{
        margin-top: -3rem;
    }

}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

    /* CSS Code */
    html{
        font-size: 7px;
    }
    .header-area {
        height: 96vh;
    }
    .nav-link-circle {
        border: none;
        padding: 0rem 0rem !important;
        border-radius: 0rem;
        margin-top: 0rem;
        color: var(--fit-color-light-1) !important;
        background-color: transparent;
        font-weight: normal;
        display: inline-block;
    }
    .app-header {
        font-size: 3.5rem;
    }
    .app-feature-info {
        margin-top: 2rem;
        margin-left: 2rem;
    }
    .app-hero-description {
        width: 85%;
    }
    .heading-primary {
        font-size: 3rem;
    }
    .play-store {
        margin-top: 3rem;
        width: 50%;
    }
    .meal-time {
        margin-top: 1rem;
        text-align: center;
    }
    .meal-time-des {
        width: 82%;
        margin: auto;
        margin-top: 3rem;
    }
    .meal-time-img {
        text-align: center;
        margin-left: 0rem;
    }
    .footer {
        margin-top: 2rem;
    }

}