@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

:root {
    --portfolio-green: #51a351;
    --portfolio-yellow: #ffb233;
    --portfolio-yellow-2: #7a5d2f;
    --portfolio-grey: #899295;
    --portfolio-grey-2: #f3f4ff;
    --portfolio-grey-3: #c6c6c5;
    --portfolio-grey-4: #818181;
    --portfolio-white-1: #ffffff;
    --portfolio-black-1: #3f3f3f;


    --portfolio-font: 'Open Sans', sans-serif;
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    outline: 0;
}

html {
    font-size: 10px;
}

a, a:link, a:visited, p, h1, h2, h3, h4, h5, h6, div, span {
    font-family: var(--portfolio-font) !important;
}

/*==========================================*/
/*========= HEADER AREA STARTS HERE*/
/*==========================================*/
.header-area {
    background-image: url("../img/hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;


}

#sticker {
    top: -4rem !important;
    padding-bottom: 1rem;
    z-index: 9999 !important;
    /*background-color: var(--portfolio-black-1);*/
}

.is-sticky {
    z-index: 9999;
}

.navbar {
    padding-top: 5rem !important;
}

.navbar-brand, .nav-link {
    color: var(--portfolio-white-1) !important;
}

.navbar-brand {
    font-size: 3.7rem !important;
}

.nav-link {
    font-size: 1.7rem !important;
    transition: all .3s !important;

}

.nav-link {
    position: relative;
}

.nav-link::before {
    content: '';
    position: absolute;
    width: 3rem;
    height: .1rem;
    background-color: var(--portfolio-yellow);
    top: 0rem;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0;
    transition: all .3s !important;


}

.nav-link:hover::before {
    top: 4rem;
    opacity: 1;
}

.nav-item .hr {
    width: 3rem;
    height: .2rem;
    background-color: var(--portfolio-yellow);
    margin: auto;
    margin-top: .5rem;
    visibility: hidden;
    /*transition: all .3s !important;*/

}

.nav-link:hover + .hr {
    visibility: visible;
}

.nav-item:not(:last-child) {
    margin-right: 7rem !important;
}

/*intro section starts here */
.hero-intro {
    color: var(--portfolio-white-1);
    text-align: center;
    margin-top: 20rem;

}

.hero-intro-hi {
    margin-bottom: 2rem;
}

.hero-intro-name {
    text-transform: uppercase;
    font-size: 5rem;
    letter-spacing: .5rem;
    font-weight: bold;
}

.hero-intro-designation {
    text-transform: capitalize;
    font-size: 2.6rem;
    margin-top: 3rem;
    font-weight: 100;
    letter-spacing: .4rem;
}

.arrow {
    text-align: center;
    margin-top: 22rem;
}

.arrow i {
    font-size: 1.7rem;
    color: var(--portfolio-white-1);
    width: 4rem;
    height: 4rem;
    background-color: var(--portfolio-yellow);
    line-height: 4rem;
    border-radius: 50%;
}

/*intro section ends here */
/*==========================================*/
/*========= HEADER AREA ENDS HERE*/
/*==========================================*/
/*==========================================*/
/*========= SECTION ABOUT ME STARTS HERE*/
/*==========================================*/
.section-about-me {
    padding: 10rem 0;
}

.about-me {
    text-align: center;
}

.heading-primary {
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-size: 4rem;
}

.about-img {
    margin: 5rem 0;
}

.about-name {
    font-size: 1.6rem;
    color: var(--portfolio-grey);
}

.about-info {
    font-size: 1.5rem;
    padding: 0 10rem;
    margin: 4rem;
}

.about-social-icon {
    margin-bottom: 4rem;
}

.about-social {
    list-style: none;
}

.social-item {
    display: inline;
    margin-right: 2rem;

}

.social-link, .social-link:link, .social-link:visited {
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--portfolio-white-1);
    background-color: var(--portfolio-grey-3);
    width: 4rem;
    height: 4rem;
    display: inline-block;
    line-height: 4rem;
    border-radius: 50%;
    transition: all .3s;
}

.social-link:hover {
    background-color: var(--portfolio-yellow);
}

.contact-me {
    font-size: 1.4rem;
    text-transform: uppercase;
    border: .2rem solid var(--portfolio-green);
    padding: 1.2rem 5.5rem;
    color: var(--portfolio-green);
    font-weight: 700;
    border-radius: .3rem;
}

.contact-me:hover {
    background-color: var(--portfolio-green);
    color: var(--portfolio-white-1);
    border: .2rem solid var(--portfolio-green);
}

/*==========================================*/
/*========= SECTION ABOUT ME ENDS HERE*/
/*==========================================*/

/*==========================================*/
/*========= SECTION SUGGEST STARTS HERE*/
/*==========================================*/
.section-suggest {
    background-image: url("../img/hero2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 63vh;
    padding: 13vh 0;
}

.suggest {
    text-align: center;
}

.suggest-header {
    color: var(--portfolio-white-1);
    letter-spacing: .3rem;
}

.suggest-row {
    margin-top: 13rem;
}

.suggest-web {
    text-align: center;
}

.img-web {
    width: 10rem;
    height: 10rem;
    margin: auto;
    background-color: var(--portfolio-yellow);
    line-height: 9rem;
    border-radius: 50%;
    margin-bottom: 1rem;
    border: .4rem solid transparent;
    cursor: pointer;
    transition: all .5s;
}

.img-web:hover {
    width: 10rem;
    height: 10rem;
    margin: auto;
    margin-bottom: 1rem;
    background-color: var(--portfolio-yellow);
    border: .4rem solid var(--portfolio-yellow-2);
}

.text-web {
    color: var(--portfolio-white-1);
    font-size: 2rem;
}

/*==========================================*/
/*========= SECTION SUGGEST ENDS HERE*/
/*==========================================*/
/*==========================================*/
/*========= SECTION COUNTER STARTS HERE*/
/*==========================================*/

.section-counter {
    padding: 20rem 0;
    background-color: var(--portfolio-grey-2);
}

.counter-1 {
    text-align: center;

}

.counter-header {
    font-size: 4rem;
    font-weight: bold;
    color: var(--portfolio-black-1);
}

.counter-hr {
    width: 12%;
    height: .2rem;
    margin: 2rem auto !important;
    background: var(--portfolio-green);
}

.counter-text {
    text-transform: capitalize;
    font-size: 2rem;
    font-style: italic;
}

/*==========================================*/
/*========= SECTION COUNTER ENDS HERE*/
/*==========================================*/
/*==========================================*/
/*========= SECTION PORTFOLIO STARTS HERE*/
/*==========================================*/
.section-portfolio {
    padding: 10rem 0;
}

.portfolio-header {
    text-align: center;
}

.category-nav {
    text-align: center;
    margin-top: 3rem;

}

.category-list {
    list-style: none;
}

.category-item {
    display: inline;
    margin-right: 3rem;
    border-bottom: .2rem solid transparent;
    padding-bottom: 1rem;
    transition: all .3s ease-in-out;
    position: relative;
}

.category-item::after {
    content: '';
    position: absolute;
    top: 0rem;
    left: 50%;
    transform: translate(-50%, 0);
    width: 3rem;
    height: .2rem;
    opacity: 0;
    transition: all .3s;
    background-color: var(--portfolio-green);
}

.category-item:hover::after {
    top: 2.5rem;
    opacity: 1;
}

.category-link, .category-link:link, .category-link:visited {
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--portfolio-black-1);
}

.portfolio-row {
    margin-top: 4rem;
    justify-content: center;
}

.portfolio-row .item1 {
    margin-bottom: 4rem;
}

.portfolio-col {
    flex-basis: 26.6666%;
}

.allwork-btn {
    text-align: center;
    margin-top: 6rem;
}

.allwork {
    color: var(--portfolio-grey-2);
    background-color: var(--portfolio-green);
    font-weight: 200;
    box-shadow: .2rem .1rem 1rem var(--portfolio-green);
}


/*==========================================*/
/*========= SECTION PORTFOLIO ENDS HERE*/
/*==========================================*/

/*==========================================*/
/*========= SECTION TESTIMONIALS STARTS HERE*/
/*==========================================*/

.section-testimonials {
    padding: 10rem 0;
    background-image: url("../img/qoute-bg.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-repeat: no-repeat;
    /*background: var(--portfolio-grey-2);*/
}

.testimonials {


}

.testimonials-data {
    text-align: center;
    margin-top: 10rem;
}

.testi-desc {
    font-size: 1.8rem;
    padding: 0 13.7rem;
    line-height: 5rem;
    text-align: justify;
}

.testi-person {
    margin-top: 5rem;
}

.img-testi {
    margin-bottom: 3rem;
    border-bottom: .3rem solid var(--portfolio-yellow);
    padding-bottom: 4rem;
    margin-top: 10rem;
}

.testi-person-name {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
}

.testi-person-designation {
    text-transform: capitalize;
    font-size: 1.5rem;
    margin-top: 2rem;
    color: var(--portfolio-grey);
}

.owl-carousel .owl-item img {
    display: inline-block;
    width: 10%;
}

/*==========================================*/
/*========= SECTION TESTIMONIALS ENDS HERE*/
/*==========================================*/
/*==========================================*/
/*========= SECTION FOOTER STARTS HERE*/
/*==========================================*/
.footer-area {
    background-image: url("../img/footer.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-repeat: no-repeat;
    color: var(--portfolio-white-1);
    padding: 10rem 0;
}

.footer {
    text-align: center;
}

.footer-row-1 {
    text-align: left;
}

.footer-row-2 {
    margin-top: 4rem;
}

.heading-second {
    text-transform: capitalize;
    margin-bottom: 3rem;
    letter-spacing: .2rem;
}

.contact-web {
    font-size: 1.5rem;
}

.contact-web-name {

}

.contact-web-link {
    color: var(--portfolio-white-1);
    text-decoration: underline;
}

.contact-email {
    margin-left: 10rem;
    font-size: 1.5rem;
    margin-bottom: 7rem;
}

.contact-email-email {
    text-transform: uppercase;
}

.contact-email-name {
    font-size: 2.2rem;
}

.form {

}

.form-area {

}

.form-area input::placeholder {
    text-transform: uppercase;
    color: var(--portfolio-white-1);
}

.form-area textarea::placeholder {
    text-transform: uppercase;
    color: var(--portfolio-white-1);
}

.form-area input:focus, .form-area textarea:focus {
    border: .1rem solid var(--portfolio-yellow);
}

.form-input {
    width: 36%;
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
    background-color: transparent;
    border: .1rem solid var(--portfolio-white-1);
    color: var(--portfolio-white-1);
}

.input-name {
    margin-right: 1%;
}

.input-phone {
    margin-left: 1%;
}

.form-msg {
    display: block;
    margin: auto;
    margin-top: 4rem;
    width: 74%;
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
    border: .1rem solid var(--portfolio-white-1);
    background-color: transparent;
    color: var(--portfolio-white-1);
}

.btn-footer {
    margin-top: 4rem;
    padding: 1.5rem 1.5rem;
    font-size: 1.4rem;
    font-weight: bold;
    background-color: var(--portfolio-green);
    border: .1rem solid transparent;
    color: var(--portfolio-white-1);
    width: 74%;
    border-radius: .4rem;
}

.copyright {
    margin: 3rem auto;
    font-size: 1.4rem;
    text-transform: uppercase;
}

/*==========================================*/
/*========= SECTION FOOTER ENDS HERE*/
/*==========================================*/

/*==========================================*/
/*========= RESPONSIVE CODES STARTS HERE*/
/*==========================================*/
/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
    html {
        font-size: 10px;
    }

    .header-area {
        height: 80vh;
    }

    .hero-intro {

        margin-top: 10rem;
    }

    .hero-intro-name {
        font-size: 3.5rem;
    }
    .arrow {
        margin-top: 18rem;
    }
    .heading-primary {
        font-size: 3.5rem;
    }

    .about-info {
        padding: 0 10rem;
        margin: 3rem;
        text-align: justify;
    }

    .section-suggest {
        padding: 10vh 0;
        height: 86vh;
    }
    .suggest-web {
        margin-bottom: 2rem;
    }
    .suggest-row {
        margin-top: 20rem;
    }

    .img-web {
        width: 8rem;
        height: 8rem;
        line-height: 7rem;
    }

    .img-web-mod {
        max-width: 56% !important;
    }


    .category-item {
        margin-right: 3rem;
    }

    .category-link, .category-link:link, .category-link:visited {
        font-size: 1.8rem;
    }

    .section-testimonials {
        padding: 7rem 0;
    }

    .owl-carousel .owl-item img {
        display: inline-block;
        width: 15% !important;
    }

    .testi-desc {
        padding: 0 2.7rem;
        line-height: 4rem;
    }
    .testi-person {
        margin-top: -2rem;
    }
    .footer-area {
        padding: 10vh 0;
        height: 100vh;
    }

    .footer-row-1 {
        text-align: center;
    }

    .contact-email {
        margin-left: 0rem;
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

    .form-msg {
        margin-top: 2rem;
    }

}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
    html {
        font-size: 10px;
    }

    .header-area {
        height: 80vh;
    }

    .hero-intro {

        margin-top: 10rem;
    }

    .hero-intro-name {
        font-size: 3.5rem;
    }
    .arrow {
        margin-top: 18rem;
    }
    .heading-primary {
        font-size: 3.5rem;
    }

    .about-info {
        padding: 0 10rem;
        margin: 3rem;
        text-align: justify;
    }

    .section-suggest {
        padding: 10vh 0;
        height: 86vh;
    }
    .suggest-web {
        margin-bottom: 2rem;
    }
    .suggest-row {
        margin-top: 20rem;
    }

    .img-web {
        width: 8rem;
        height: 8rem;
        line-height: 7rem;
    }

    .img-web-mod {
        max-width: 56% !important;
    }


    .category-item {
        margin-right: 3rem;
    }

    .category-link, .category-link:link, .category-link:visited {
        font-size: 1.8rem;
    }

    .section-testimonials {
        padding: 7rem 0;
    }

    .owl-carousel .owl-item img {
        display: inline-block;
        width: 15% !important;
    }

    .testi-desc {
        padding: 0 2.7rem;
        line-height: 4rem;
    }
    .testi-person {
        margin-top: -2rem;
    }
    .footer-area {

    }

    .footer-row-1 {
        text-align: center;
    }

    .contact-email {
        margin-left: 0rem;
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

    .form-msg {
        margin-top: 2rem;
    }

}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
    html {
        font-size: 10px;
    }

    .header-area {
        height: 80vh;
    }

    .hero-intro {

        margin-top: 10rem;
    }

    .hero-intro-name {
        font-size: 3.5rem;
    }
    .arrow {
        margin-top: 18rem;
    }
    .heading-primary {
        font-size: 3.5rem;
    }

    .about-info {
        padding: 0 10rem;
        margin: 3rem;
        text-align: justify;
    }

    .section-suggest {
        padding: 10vh 0;
        height: 86vh;
    }
    .suggest-web {
        margin-bottom: 2rem;
    }
    .suggest-row {
        margin-top: 20rem;
    }

    .img-web {
        width: 8rem;
        height: 8rem;
        line-height: 7rem;
    }

    .img-web-mod {
        max-width: 56% !important;
    }


    .category-item {
        margin-right: 3rem;
    }

    .category-link, .category-link:link, .category-link:visited {
        font-size: 1.8rem;
    }

    .section-testimonials {
        padding: 7rem 0;
    }

    .owl-carousel .owl-item img {
        display: inline-block;
        width: 15% !important;
    }

    .testi-desc {
        padding: 0 2.7rem;
        line-height: 4rem;
    }
    .testi-person {
        margin-top: -2rem;
    }
    .footer-area {

    }

    .footer-row-1 {
        text-align: center;
    }

    .contact-email {
        margin-left: 0rem;
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

    .form-msg {
        margin-top: 2rem;
    }

}



@media (min-width: 481px) and (max-width: 767px) {

    html {
        font-size: 9px;
    }

    .header-area {
        height: 80vh;
    }

    .hero-intro {

        margin-top: 10rem;
    }

    .hero-intro-name {
        font-size: 3.5rem;
    }

    .heading-primary {
        font-size: 3.5rem;
    }

    .about-info {
        padding: 0 1rem;
        margin: 3rem;
        text-align: justify;
    }

    .section-suggest {
        padding: 8vh 0;
        height: 86vh;
    }
    .suggest-web {
        margin-bottom: 2rem;
    }
    .suggest-row {
        margin-top: 4rem;
    }

    .img-web {
        width: 8rem;
        height: 8rem;
        line-height: 7rem;
    }

    .img-web-mod {
        max-width: 56% !important;
    }


    .category-item {
        margin-right: 3rem;
    }

    .category-link, .category-link:link, .category-link:visited {
        font-size: 1.8rem;
    }

    .section-testimonials {
        padding: 7rem 0;
    }

    .owl-carousel .owl-item img {
        display: inline-block;
        width: 25% !important;
    }

    .testi-desc {
        padding: 0 2.7rem;
        line-height: 4rem;
    }
    .testi-person {
        margin-top: -2rem;
    }
    .footer-area {
        padding: 5.5rem 0;
        height: 109vh;
    }

    .footer-row-1 {
        text-align: center;
    }

    .contact-email {
        margin-left: 0rem;
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

    .form-msg {
        margin-top: 2rem;
    }
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

    html {
        font-size: 8px;
    }

    .header-area {
        height: 67vh;
    }

    .hero-intro {

        margin-top: 10rem;
    }

    .hero-intro-name {
        font-size: 3.5rem;
    }

    .heading-primary {
        font-size: 3.5rem;
    }

    .about-info {
        padding: 0 1rem;
        margin: 3rem;
        text-align: justify;
    }

    .section-suggest {
        padding: 5vh 0;
    }

    .suggest-row {
        margin-top: 4rem;
    }

    .img-web {
        width: 7rem;
        height: 7rem;
        line-height: 6rem;
    }

    .img-web-mod {
        max-width: 56% !important;
    }

    .category-item {
        margin-right: 2rem;
    }

    .category-link, .category-link:link, .category-link:visited {
        font-size: 1.2rem;
    }

    .section-testimonials {
        padding: 7rem 0;
    }

    .owl-carousel .owl-item img {
        display: inline-block;
        width: 25% !important;
    }

    .testi-desc {
        padding: 0 2.7rem;
        line-height: 4rem;
    }
    .testi-person {
        margin-top: -6rem;
    }
    .footer-area {
        padding: 3.5rem 0;
    }

    .footer-row-1 {
        text-align: center;
    }

    .contact-email {
        margin-left: 0rem;
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

    .form-msg {
        margin-top: 2rem;
    }

}

/*==========================================*/
/*========= RESPONSIVE CODES ENDS HERE*/
/*==========================================*/

